
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/stylesheet.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @using (Html.BeginForm("Import", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div id="header1">
            <h3>
                Załącz pliki (xml, json lub csv) <input type="file" name="inputFile" />
                <input class="card-subtitle" type="submit" value="Import" />
            </h3>
            <h4 style="color:red">@ViewBag.Error</h4>
            <h4 style="color:green">@ViewBag.Success</h4>
            <h4 style="color:red">@ViewBag.ex</h4>
        </div>
    }
    <table id="tab1">
        <tr>
            <td>Ilość zamówień</td>
            <td><input type="button" value="Generuj" onclick="location.href='@Url.Action("NumberOfRequestRepo", "Home")'" /></td>
        </tr>
        <tr>
            <td>Ilość zamówień dla klienta o wskazanym identyfikatorze </td>
            <td>
                <form action="NumberOfRequestByClientIDRepo" method="post">
                    <input type="text" name="clientID" required />
                    <input type="submit" value="Generuj" />
                </form>
            </td>
        </tr>
        <tr>
            <td>Łączna kwota zamówień</td>
            <td><input type="button" value="Generuj" onclick="location.href='@Url.Action("TotalAmountRepo", "Home")'" /></td>
        </tr>
        <tr>
            <td>Łączna kwota zamówień dla klienta o wskazanym identyfikatorze</td>
            <td>
                <form action="TotalAmountByClientID" method="post">
                    <input type="text" name="clientID" required />
                    <input type="submit" value="Generuj" />
                </form>
            </td>
        </tr>
        <tr>
            <td>Lista wszystkich zamówień</td>
            <td><input type="button" value="Generuj" onclick="location.href='@Url.Action("ListOfAllRequests", "Home")'" /></td>
        </tr>
        <tr>
            <td>Lista zamówień dla klienta o wskazanym identyfikatorze</td>
            <td>
                <form action="ListOfAllRequestsByClientID" method="post">
                    <input type="text" name="clientID" required />
                    <input type="submit" value="Generuj" />
                </form>
            </td>
        </tr>
        <tr>
            <td>Średnia wartość zamówienia</td>
            <td><input type="button" value="Generuj" onclick="location.href='@Url.Action("AverageValueOfRequest", "Home")'" /></td>
        </tr>
        <tr>
            <td>Średnia wartość zamówienia dla klienta o wskazanym identyfikatorze</td>
            <td>
                <form action="AverageValueOfRequestByClientId" method="post">
                    <input type="text" name="clientID" required />
                    <input type="submit" value="Generuj" />
                </form>
            </td>
        </tr>
        <tr>
            <td>Ilość zamówień pogrupowanych po nazwie</td>
            <td><input type="button" value="Generuj" onclick="location.href='@Url.Action("AmountRequestGrupByName", "Home")'" /></td>
        </tr>
        <tr>
            <td>Ilość zamówień pogrupowanych po nazwie dla klienta o wskazanym identyfikatorze</td>
            <td>
                <form action="AmountRequestGrupByNameAndClientID" method="post">
                    <input type="text" name="clientID" required />
                    <input type="submit" value="Generuj" />
                </form>
            </td>
        </tr>
        <tr>
            <td>Zamówienia w podanym przedziale cenowym</td>
            <td>
                <form action="RangePriceRequests" method="post">
                    <input type="number" name="fromPrice" placeholder="Przedział od" required />
                    <input type="number" name="toPrice" placeholder="Przedział do" required />
                    <input type="submit" value="Generuj" />
                </form>
            </td>
        </tr>
    </table>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
    